#--------------------------#
#       Folders            #
#--------------------------#
/files/
/apps/


#--------------------------#
# IDE Project Files/Folder #
#--------------------------#
/nbproject/
/.idea/
.DS_Store
*~
